# .gitignore
.venv/
*.env
.ruff_cache/
.pytest_cache/
__pycache__/
*.pyc
app.lock
*.log
.dropbox.token
buf/
grbg/
.DS_Store
.idea/
.vscode/

improvement_plan.md
.gemini/
gha-creds-*.json
credentials.json
gdrive_token.json
.coverage
coverage.xml
prepare-secrets.md
recomendations.txt
