# docker-compose.yml
version: '3.8'

services:
  app:
    # The name of the container that will be created
    container_name: remrec-app
    
    # The name of the image that will be built
    image: kokogen/remrec:${REMREC_IMAGE_TAG:-latest}
    build: . # <--- ADDED: Build from the current directory (where Dockerfile is located)
    
    # Specify the file with environment variables for local development
    env_file:
      - .env
    environment:
      PYTHONPATH: /app
    volumes:
      - ./app.log:/app/app.log
      - ./.dropbox.token:/app/.dropbox.token
      
    # Restart policy. 'unless-stopped' means the container
    # will automatically restart (e.g., after a server reboot)
    # unless it was manually stopped.
    restart: unless-stopped
