# docker-compose.yml
version: '3.8'

services:
  app:
    # The name of the container that will be created
    container_name: remarkable-app
    
    # The name of the image that will be built
    image: kokogen/remrec:${REMREC_IMAGE_TAG:-latest}
    
    # Specify the file with environment variables (secrets)
    env_file:
      - .env
      
    # Restart policy. 'unless-stopped' means the container
    # will automatically restart (e.g., after a server reboot)
    # unless it was manually stopped.
    restart: unless-stopped
