# docker-compose.yml
version: '3.8'

services:
  app:
    # Имя контейнера, которое будет создано
    container_name: remarkable-app
    
    # Имя образа, который будет собран
    image: remarkable-recognizer
    
    # Указываем Docker Compose, что образ нужно собрать из Dockerfile
    # в текущей директории ('.')
    build: .
    
    # Указываем файл с переменными окружения (секретами)
    env_file:
      - .env
      
    # Политика перезапуска. 'unless-stopped' означает, что контейнер
    # будет автоматически перезапускаться (например, после перезагрузки сервера),
    # если он не был остановлен вручную.
    restart: unless-stopped
